[client-server]
#socket=/var/run/mysql/mysql.sock
#port=3306

# This will be passed to all MariaDB clients
[client]
#password=my_password

# The MariaDB server
[mysqld]
log_warnings=1
innodb_file_per_table
# To listen to all network addresses, use "bind-address = *"
#bind-address=localhost
bind-address= *
# Directory where you want to put your data
#data=/var/mysql
# This is the prefix name to be used for all log, error and replication files
#log-basename=mysqld
# Logging
#general-log
#slow_query_log
================================================================
How to open MariaDB port using PF firewall on OpenBSD
Simply add the following rule to /etc/pf.conf

pass in proto tcp from 192.168.2.0/24 to any port 3306 keep state
Test it and reload the rules:
# pfctl -v -nf /etc/pf.conf
# pfctl -v -f /etc/pf.conf
